{
  "presets": ["env", "react"],
  "plugins" : [
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "utils": "./src/utils",
          "components": "./src/components",
          "containers": "./src/containers",
          "apps": "./src/apps"
        }
      }      
    ]
  ]
}