{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins" : [
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils",
        "components": "./src/components",
        "containers": "./src/containers",
        "pages": "./src/pages"
      }
    }]
  ]
}